*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    overflow-x: hidden;
    background: aliceblue;
    color: #000;
}
#particles-js{
   background-color: #1e1f31;
   height: 100vh;
   border-bottom: 5px solid #eea47fff;
}
.wrapper{
    position: relative;
}
/* navbar section*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
    /* position: fixed; */
    width: 100%;
    background: transparent;
}
.active { background-color: #fff}
.logo{
    color: #fff;
    font-size: 50px;
    font-family: 'Moo Lah Lah', cursive;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    opacity: .8;
}
nav ul li a:hover{
    color: #eea47fff;
    cursor: pointer;
}
nav ul li a:focus{
    color: #eea47fff;
}

/* landing content styling */
.content{
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}
.text{
    color: #fff;
    text-align: center;
}
.text h1{
    font-size: 64px;
    margin: 0px 0 20px;
    font-weight: normal;
}
.text h6,
.text h5{
    font-size: 20px;
    position: relative;
    font-weight: 300;
}
.text h5{
    text-align: right;
}
.text h6{
    padding-bottom: 50px;
}
.text h5::before{
     content: '';
     position: absolute;
     bottom: 0px;
     left: 0;
     width: 540px;
     height: 1px;
     background: #fff;
}

h1 span{
    display: inline-block;
}

.text-inner a{
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid white;
    transition: all ease-out .5s;

}
.text-inner a:hover{
text-decoration: underline;
background: #eea47fff;
color: #000;
}

/* back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #1e1f31;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: all .5s;
  }
  #myBtn:hover {
    background-color: #eea47fff;
  }

  /* about section */
  .about-container{
      padding: 20px;
      height: 100%;
  }
  .image{
      /* background: red; */
      width: 50%;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
  }
  .image img{
      border-radius: 50%;
      border: 4px solid #1e1f31;
  }
  .r-text{
      /* background: blue; */
      width: 50%;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
      font-size: 24px;
      flex-direction: column;

  }
