*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color: #ff282b;
}
body{
    background-color: #fff;
    overflow-x: hidden;
    color: #000;
}
#particles-js{
   background-color: #1e1f31;
   height: 100vh;
   border-bottom: 5px solid #eea47fff;
}
.wrapper{
    position: relative;
}
/* navbar section*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
    /* position: fixed; */
    width: 100%;
    background: transparent;
}
.active { background-color: #fff}
.logo{
    color: #fff;
    font-size: 50px;
    font-family: 'Moo Lah Lah', cursive;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    opacity: .8;
}
nav ul li a:hover{
    color: #eea47fff;
    cursor: pointer;
}
nav ul li a:focus{
    color: #eea47fff;
}

/* landing content styling */
.content{
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}
.text{
    color: #fff;
    text-align: center;
}
.text h1{
    font-size: 64px;
    margin: 0px 0 20px;
    font-weight: normal;
}
.text h6,
.text h5{
    font-size: 20px;
    position: relative;
    font-weight: 300;
}
.text h5{
    text-align: right;
}
.text h6{
    padding-bottom: 50px;
}
.text h5::before{
     content: '';
     position: absolute;
     bottom: 0px;
     left: 0;
     width: 540px;
     height: 1px;
     background: #fff;
}

h1 span{
    display: inline-block;
}

.text-inner a{
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid white;
    transition: all ease-out .5s;

}
.text-inner a:hover{
text-decoration: underline;
background: #eea47fff;
color: #000;
}

/* back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #1e1f31;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: all .5s;
  }
  #myBtn:hover {
    background-color: #eea47fff;
  }

  /* services section */
  .services-section{
      padding: 60px 0;
  }
  .inner-width{
      width: 100%;
      max-width: 1200px;
      margin: auto;
      padding: 20px;
      overflow: hidden;
  }
  .services-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .service-box{
      max-width: 33.33%;
      padding: 10px;
      text-align: center;
      cursor: pointer;
  }
  .service-icon{
      display: inline-block;
      width: 70px;
      height: 70px;
      border: 3px solid #1e1f31;
      color: #1e1f31;
      transform: rotate(45deg);
      margin-bottom: 30px;
      margin-top: 16px;
      transition: .3s linear;
  }
  .service-icon i{
      line-height: 70px;
      transform: rotate(-45deg);
      font-size: 26px;
  }
  .service-box:hover .service-icon{
      background: #1e1f31;
      color: #fff;
  }
  .service-title{
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 10px;
  }
  .sevice-description{
      font-size: 14px;
  }
  @media all and (max-width: 960px){
      .service-box{
          max-width: 45%;
      }
  }
  @media all and (max-width: 768px){
    .service-box{
        max-width: 50%;
    }
}
@media all and (max-width: 480px){
    .service-box{
        max-width: 100%;
    }
}


  /* about section styling */
section{
    height: 100vh;
    max-width: 1160px;
    margin: 0 auto;
    padding: 70px 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
}

.about-left img{
     max-width: 100%;
     height: auto;
     vertical-align: middle;
     border: 5px solid #1e1f31;
     border-radius: 50%;
}
.about-right > *{
    margin-bottom: 1.1rem;
    color: #101010;
}
.about-right h1{
    font-size: 2rem;
    font-weight: 800;
}
.about-right p{
    text-align: justify;
}
.hire{
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid #101010;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: width .4s;
}
.hire::after{
    content: '';
    background: #1e1f31;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: width .5s ease;
}
.hire:hover{
    color: #fff;
}
.hire:hover::after{
    width: 100%;
    color: #fff;
}
@media all and (max-width: 768px){
    .grid{
        grid-template-columns: 1fr;
    }
    .about-left{
        display: flex;
        justify-content: center;
    }
    .about-right{
        padding: 0 40px;

    }
}